---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast?appid=d4d5957add7e62528cf44d6b06ab7c3f&cnt=6&lat=34.0522&lon=-118.2437&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":6,"list":[{"dt":1634202000,"main":{"temp":60.39,"feels_like":57.43,"temp_min":60.39,"temp_max":63.1,"pressure":1013,"sea_level":1013,"grnd_level":1003,"humidity":28,"temp_kf":-1.51},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":2.06,"deg":130,"gust":2.68},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2021-10-14
        09:00:00"},{"dt":1634212800,"main":{"temp":60.91,"feels_like":58.39,"temp_min":60.91,"temp_max":61.84,"pressure":1014,"sea_level":1014,"grnd_level":1004,"humidity":36,"temp_kf":-0.52},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":0.92,"deg":102,"gust":1.86},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2021-10-14
        12:00:00"},{"dt":1634223600,"main":{"temp":62.78,"feels_like":60.73,"temp_[...]
