---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast?appid=d4d5957add7e62528cf44d6b06ab7c3f&cnt=6&units=imperial&zip=90049,us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":6,"list":[{"dt":1634202000,"main":{"temp":58.86,"feels_like":56.79,"temp_min":58.86,"temp_max":61.21,"pressure":1008,"sea_level":1008,"grnd_level":995,"humidity":50,"temp_kf":-1.31},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"clouds":{"all":1},"wind":{"speed":1.52,"deg":111,"gust":2.17},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2021-10-14
        09:00:00"},{"dt":1634212800,"main":{"temp":59.63,"feels_like":57.45,"temp_min":59.63,"temp_max":60.6,"pressure":1011,"sea_level":1011,"grnd_level":996,"humidity":46,"temp_kf":-0.54},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":1.3,"deg":34,"gust":1.79},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2021-10-14
        12:00:00"},{"dt":1634223600,"main":{"temp":61.56,"feels_like":59.25,"temp_min"[...]
